@charset "utf-8";
/* ----------------------------------

Main CSS file for Discuz! X3
(C) Comsenz Inc.

----------------------------------

/*portal*/
h3,h4{ font-size:14px;}
.editorChoice h4 a{ font-size:12px;}
.star h4 a{ font-size:12px;}
#portal_block_389_edit_menu{ display:block; color:#ff0000;}

/* Main Layout */
.main {width: 960px;margin: 10px auto 0;}
.main .box {background: #fff;border-radius: 5px;}
.content {overflow: hidden;*overflow: visible;}
.content .all {clear: both;margin-bottom: 10px;}
.content .left {float: left;width: 605px;margin-bottom: 10px;padding: 0 20px 20px 20px;*padding: 0 15px 25px 20px;}
.content .right {float: right; *margin-left:10px}

.content img {border-radius: 5px;}
.right .box {width: 260px;margin-bottom: 10px;padding: 0 20px;_overflow: hidden;}

/* news list */
.news { /*ul*/color: #bebdbd;font-size: 12px;}
.news li {padding-top: 25px;padding-bottom: 5px;/*border-top: 1px dashed #d7d7d7;*/background: url(newsLine.gif) no-repeat;}
.news a {color: #667ebd;}
.news h2 {height: 58px;line-height: 58px;font-size: 22px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.news h2 a {color: #343434;}
.news span {float: right;margin-bottom: 15px;}
.news span em,
.news span a {display: inline-block;margin-left: 5px;background: url(indexIcon.png) no-repeat;}
.news span a {padding-left: 22px;background-position: 0 -16px;color: #bebdbd;}
.news span .view {padding-left: 22px;background-position: 0 0;}
.news span .comment {padding-left: 14px;background-position: 0 -32px;}
.news span a:hover {background-position: 0 -64px;}
.news span .comment:hover {background-position: 0 -80px;}
.news .tag {color: #bebdbd;}
.news img {display: block;margin-top: 15px;}
.news p {margin-top: 15px;line-height: 24px;color: #706f6f;font-size: 14px;}
.news p a {float: right;margin-left: 15px;font-size: 12px;*float: none;}

/* widget */
.topLine a.comment {padding-left: 14px;display: inline-block;background: url(indexIcon.png) no-repeat;background-position: 0 -32px;}
.topLine a.comment:hover {padding-left: 14px;display: inline-block;background: url(indexIcon.png) no-repeat;background-position: 0 -80px;}

/* 默认幻灯片 */
.FocusPic {zoom: 1;position: relative;overflow: hidden}
.FocusPic .content {overflow: hidden}
.FocusPic .changeDiv a {position: absolute;top: 0px;left: 0px;display: none;}
.FocusPic .title-bg, .FocusPic .title {position: absolute;left: 0px;bottom: 0;width: 298px;height: 30px;line-height: 30px;overflow: hidden}
.FocusPic .title-bg {background: #000;filter: alpha(opacity=50);opacity: 0.5;}
.FocusPic .title a {display: block;padding-left: 15px;color: #fff;font-size: 14px;}
.FocusPic .change {bottom: 4px;height: 20px;right: 3px;*right: 5px;_right: 4px;position: absolute;text-align: right;z-index: 9999;}
.FocusPic .change i {background: #666;color: #FFF;cursor: pointer;font-family: Arial;font-size: 12px;line-height: 15px;margin-right: 2px;padding: 2px 6px;font-style: normal;height: 15px;display: inline-block;display: -moz-inline-stack;zoom: 1;*display: inline;}
.FocusPic .change i.cur {background: #FF7700;}
.FocusPic li{ list-style-type:none}
/* focus */
.tt_focus {position: relative;height: 110px;margin: 10px 0;padding: 0 10px;background: #f5f5f5;_overflow: hidden;}
.tt_focus .col {float: left;margin-right: 10px;_display: inline;}
.tt_focus .col a {position: relative;display: block;margin-bottom: 10px;background: #000;}
.tt_focus .col img {display: block;/*transition: opacity 0.5s linear 0s;*/}
.tt_focus .col span {display: none;position: absolute;left: -3px;top: -3px;z-index: 100;}
.tt_focus .col span img {box-shadow: 0 0 10px #999;}
.tt_focus .col a:hover span {display: block;*display: none;}
#portal_block_398_edit_menu{ display:block; color:#ff0000}

/* 分页 */
.pages {font-size: 10px;}
.pages a,
.pages span {display: inline-block;height: 18px;line-height: 18px;padding: 0 6px;text-align: center;}
.pages a {border: 1px solid #e3e3e3;background: #fff;color: #333;}
.pages a.a1 {background: #eee;padding: 0 12px;}
.pages a:hover {background: #f1f1f1;color: #000;text-decoration: none}
.pages span {border: 1px solid #ccc;background: #ccc;color: #fff;}
.pages.pages-r {text-align: right;}

/* 面包屑 */
.crumbs {height: 20px;line-height: 20px;font-size: 12px;}

/* box h4 */
.box h4 {height: 40px;line-height: 40px;border-bottom: 1px solid #e8e8e8;border-radius: 5px 5px 0 0;background: #ffffff;background: -webkit-linear-gradient(top, #ffffff, #f7f7f7);background: -moz-linear-gradient(top, #ffffff, #f7f7f7);background: -ms-linear-gradient(top, #ffffff, #f7f7f7);background: -o-linear-gradient(top, #ffffff, #f7f7f7);background: linear-gradient(top, #ffffff, #f7f7f7);}
.right .box h4 {width: 300px;margin-left: -20px;}
.box h4 strong {display: block;width: 122px;margin-left: 15px;color: #434a54;font-weight: bold;}
.box h4 .r {float: right;margin: -40px 20px 0 0;color: #333;font-size: 12px;}
.box h4 a.r {color: #667ebd;}
.box h4 a.r:hover {color: #f60;}
.box h4 strong a {float: none;margin-top: 0;color: #333;font-size: 14px;}
.box h4 strong a:hover {color: #f60;}
/* top banner */
.banner {}
.banner img {display: block;margin-bottom: 10px;}

/* hot */
.hot {overflow: hidden; }
.hot h4 {position: relative;border-bottom: none;}
.hot .tab {position: absolute;left: 0;top: 0;width: 302px;margin-left: -1px;}
.hot .tab span {float: left;width: 150px;text-align: center;border-left: 1px solid #e8e8e8;/*padding: 0 21px;*/}
.hot .tab span.fb {background: #f56635;box-shadow: inset 0 -2px 2px rgba(0,0,0,0.15);color: #fff;}
.hot ul {width: 302px;margin-left: -20px;overflow: hidden;}
.hot li {float: left;width: 150px;height: 45px;line-height: 45px;border-top: 1px solid #eee;border-right: 1px solid #eee;background: #ffffff;text-align: center;}
.hot li a {display: block; font-size:14px}
.hot li a:hover {color: #f60;font-weight: bold;}
.hot .more {width: 300px;}

/* editor choice */
.editorChoice {}
.editorChoice ul {line-height: 24px;margin: 0 0 0 24px;padding: 10px 0;}
.editorChoice li {padding: 4px 0 5px;}
.editorChoice em {float: left;width: 14px;height: 14px;line-height: 14px;margin: 3px 0 0 -24px;border: 2px solid #aab2bd;border-radius: 50%;color: #aab2bd;font-family: Tahoma, Verdana, sans-serif;font-size: 10px;text-align: center;}
.editorChoice .topRank em {border: 2px solid #ff6600;color: #ff6600;}
.editorChoice li a{ font-size:14px;}

/* activities */
.activities {}
.activities dt a{font-size:14px}
.right .activities {padding-bottom: 20px;}
.activities dl {position: relative;height: 70px;margin: 20px 0 0 107px;}
.activities dt a {display: block;height: 18px;line-height: 18px;color: #333;}
.activities dt {}
.activities img {position: absolute;top: 0;left: -107px;}
.activities dd {margin-top: 5px;font-size: 12px;}
.activities dd a {position: absolute;left: 0;bottom: 0;height: 20px;line-height: 20px;padding: 0 6px 0 8px;border-radius: 10px;background: #ff6600;background: -webkit-linear-gradient(top, #ff6600, #ff4f00);background: -moz-linear-gradient(top, #ff6600, #ff4f00);background: -ms-linear-gradient(top, #ff6600, #ff4f00);background: -o-linear-gradient(top, #ff6600, #ff4f00);background: linear-gradient(top, #ff6600, #ff4f00);box-shadow: 0 0 2px #e0e0e0;color: #fff;}
.activities dd a:hover {color: #fff !important;}
.activities dd i {display: inline-block;height: 0;width: 0;margin: 0 0 0 4px;border-color: transparent transparent transparent #fff;border-style: dashed dashed dashed solid;border-width: 4px 0 4px 4px;vertical-align: middle;_overflow: hidden;}

/* pic show */
.picShow {}
.picShow ul {position: relative;height: 47px;margin: 20px 0 0 -6px;padding-top: 190px;padding-bottom: 20px;}
.picShow ul a {display: block;_text-decoration: none;}
.picShow ul li {float: left;margin-left: 5px;opacity: 0.5;filter: alpha(opacity = 50);
_display: inline;}
.picShow ul span {display: none;position: absolute;left: 6px;top: 0;width: 260px;height: 185px;}
.picShow ul span strong {position: absolute;left: 0;bottom: 0;width: 100%;height: 25px;line-height: 25px;background: rgba(0, 0, 0, 0.5);border-radius: 0 0 5px 5px;color: #fff;font-size: 12px;text-align: center;}
.picShow ul .current {opacity: 1;filter: alpha(opacity = 100);}
.picShow ul .current i {display: block;_display: inline;}
.picShow ul .current span {display: block;}

/* play */
.play {}
.play ul {margin-top: 20px;padding: 0 0 12px;}
.play li {position: relative;height: 76px;margin-left: 80px;}
.play ul img {position: absolute;top: 0;left: -80px;border-radius: 12px;}
.play ul a {display: block;height: 30px;line-height: 30px;padding-top: 5px;color: #000;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;_width: 100%; font-size:14px}
.play ul p {line-height: 20px;color: #878787;font-size: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;_width: 100%;}

/* academy */
.academy {}
.academy ul {margin-top: 20px;margin-left: -10px;overflow: hidden;}
.academy li {float: left;width: 125px;height: 145px;line-height: 18px;margin-left: 10px;*margin-left: 0px;*margin-right:5px;_display: inline;}
.academy li a {color: #434a54; font-size:14px}
.academy li a:hover {color: #f60;}
.academy li img {display: block;margin: 0 0 12px;}

/* recommend */
.recommend {}
.recommend ul {margin-top: 5px;padding:0 0 20px 0;}
.recommend li {margin: 20px 0 -5px;}
.recommend li img {display: block;}
.recommend li strong {display: block;margin-top: 15px;text-align: center;}

/* star */
.star {}
.star .superStar {overflow: auto;margin-top: 20px;margin-left: -10px;}
.star .superStar a {float: left;width: 125px;margin-left: 10px;text-align: center;}
.star .superStar img {margin-bottom: 10px;}
.star ul {margin-top: 15px;padding: 0 0 10px;}
.star li {position: relative;height: 64px;line-height: 18px;margin: 0 0 15px 80px;color: #393939;font-size: 12px;}
.star li img {position: absolute;left: -80px;top: 0;}
.star li a {line-height: 24px;font-size: 14px;}
.star li span {display: block;color: #aab2bd;}
.star em a {color: #aab2bd;font-size: 12px;}
.star em a:hover {color: #f60;}

/* toolbox */
.toolbox {}
.toolbox .tt_toolbox {padding: 20px 0 10px;margin-left: -13px;overflow: hidden;}
*html .toolbox .tt_toolbox {padding: 20px 0 10px;margin-left: -13px;overflow: hidden; margin-bottom:10px;}
*+html .toolbox .tt_toolbox {padding: 20px 0 10px;margin-left: -13px;overflow: hidden; margin-bottom:10px;}
.toolbox .tt_toolbox a {float: left;width: 124px;height: 26px;line-height: 26px;margin: 0 0 10px 13px;border: 1px solid #e9e9e9;border-radius: 3px;background: #fafafa;background: -webkit-linear-gradient(top, #fafafa, #eeeeee);background: -moz-linear-gradient(top, #fafafa, #eeeeee);background: -ms-linear-gradient(top, #fafafa, #eeeeee);background: -o-linear-gradient(top, #fafafa, #eeeeee);background: linear-gradient(top, #fafafa, #eeeeee);color: #717171;text-align: center;display: inline;}
*html .toolbox .tt_toolbox a {float: left;width: 114px;height: 26px;line-height: 26px;margin: 0 0 0 13px;border: 1px solid #e9e9e9;border-radius: 3px;background: #fafafa;background: -webkit-linear-gradient(top, #fafafa, #eeeeee);background: -moz-linear-gradient(top, #fafafa, #eeeeee);background: -ms-linear-gradient(top, #fafafa, #eeeeee);background: -o-linear-gradient(top, #fafafa, #eeeeee);background: linear-gradient(top, #fafafa, #eeeeee);color: #717171;text-align: center;display: inline;}
.toolbox .tt_toolbox a:hover {width: 126px;height: 28px;line-height: 28px;border: none;background: #ff6600;background: -webkit-linear-gradient(top, #ff6600, #ff4e00);background: -moz-linear-gradient(top, #ff6600, #ff4e00);background: -ms-linear-gradient(top, #ff6600, #ff4e00);background: -o-linear-gradient(top, #ff6600, #ff4e00);background: linear-gradient(top, #ff6600, #ff4e00);box-shadow: 0 0 3px #ddd;color: #fff !important;text-decoration: none;}
*html .toolbox .tt_toolbox a:hover {width: 116px;height: 28px;line-height: 28px;border: none;background: #ff6600;background: -webkit-linear-gradient(top, #ff6600, #ff4e00);background: -moz-linear-gradient(top, #ff6600, #ff4e00);background: -ms-linear-gradient(top, #ff6600, #ff4e00);background: -o-linear-gradient(top, #ff6600, #ff4e00);background: linear-gradient(top, #ff6600, #ff4e00);box-shadow: 0 0 3px #ddd;color: #fff !important;text-decoration: none;}



/*old style*/
.content .col-left {float: left;width: 640px;padding-left: 0;padding-right: 0;}
.content .col-left .box {margin: 0 0 10px;padding: 0 15px 10px;}
.content .col-left h4 {margin-left: -15px;width: 640px;}
.content .col-left h4 strong {width: auto;}

#Article{ overflow:hidden;}
#Article h1{color:#000;font:800 26px/30px "宋体",arial;margin-bottom:6px; text-align:center; padding:16px 0 8px; border-bottom:1px solid #e5e5e5}
#Article h1 span{ font-size:12px; font-weight:normal; line-height:20px; color:#999}
#Article .content{ font-size:14px}
#Article .content p {font-size:14px;line-height:23px;text-align:justify;word-wrap:break-word; padding:8px 0}
#Article .related{ border-top:1px solid #ccc; margin-top:15px}
#Article .related h5{padding-bottom:4px}
#Article .related{ padding:10px 0 0}
#Article .related a{ /*color:#0b3b8c*/}
#Article .info { margin: 10px 0;}
#Article .info strong {font-weight: bold;}

.Article-Tool { text-align:right; padding:10px 0 0; vertical-align:middle;}
.Article-Tool a { display: inline-block; width:16px;height:16px;line-height:16px;background: url(icon.png) no-repeat; margin-left:6px; vertical-align: middle;}
.Article-Tool a:hover{text-decoration: none}
.Article-Tool a.t,.Article-Tool a.t6{background-position: left -336px; width:auto; padding-left:16px; color:#8896b1}
.Article-Tool a.t1{background-position: left -115px;}
.Article-Tool a.t2{background-position: left -159px;}
.Article-Tool a.t3{background-position: left -205px;}
.Article-Tool a.t4{background-position: left -250px;}
.Article-Tool a.t5{background-position: left -294px;}
.Article-Tool a.t6{background-position: left -421px;padding-left:18px;}
.Article-Tool img {border-radius: 0; vertical-align: middle;}

/* top line */
.topLine { /*dl*/color: #bebdbd;font-size: 12px;overflow: hidden;}
.topLine a {color: #667ebd;}
.topLine h2 {height: 58px;line-height: 58px;font-size: 22px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.topLine h2 a {color: #3a3a3a;}
.topLine dt a {display: block;height: 175px;width: 296px;}
.topLine img {display: block;}
.topLine dd {float: right;width: 296px;line-height: 16px;margin-top: -175px;overflow: hidden;}
.topLine span {float: right;}
.topLine span em,
.topLine span a {display: inline-block;margin-left: 5px;background: url(indexIcon.png) no-repeat;}
.topLine span em {padding-left: 22px;background-position: 0 0;}
.topLine span a {padding-left: 22px;background-position: 0 -16px;color: #bebdbd;}
.topLine span a:hover {background-position: 0 -64px;}
.topLine p {margin-top: 25px;line-height: 24px;color: #706f6f;font-size: 14px;}
.topLine p a {float: right;margin-left: 15px;font-size: 12px;*float: none;}

/* sub top line*/
.subTopLine { /*ul*/margin-top: 25px;margin-left: -12px;color: #bebebe;overflow: hidden;}
.subTopLine a {color: #667ebd;}
.subTopLine li {float: left;width: 142px;margin-left: 12px;_display: inline;}
.subTopLine img {display: block;}
.subTopLine h3 {height: 44px;line-height: 22px;margin-top: 12px;}
.subTopLine h3 a {color: #535353;}
.subTopLine span {display: block;margin-top: 5px;font-size: 12px;text-align: right;}
.subTopLine span a {float: left;}


/* other */

/* location */
.location {margin-bottom: 10px;}
.location .tt_location {margin: 0 40px 0 -13px;padding: 8px 0;overflow: hidden;_width: 933px;}
.location .tt_location a {float: left;width: 50px;height: 26px;line-height: 26px;margin-left: 53px;color: #878787;font-size: 12px;_display: inline;}

/* links */
.links {}
.links .topLink {margin: 15px 15px 0;overflow: hidden;}
.links .topLink a {float: left;margin-right: 10px;}
.links .link {margin: 0 15px 10px 5px;padding: 10px 0 15px;overflow: hidden;_height: 56px;_clear: both;}
.links .link a {color: #878787;font-size: 12px;height: 14px;line-height: 28px;margin-left: -1px;padding: 0 9px;border-left: 1px solid #878787;white-space: nowrap;}


