@charset "utf-8";
/* ----------------------------------

Main CSS file for Discuz! X3
(C) Comsenz Inc.

-------------------------------------*/

/* indexRow */
.indexRow                  { margin-bottom: 10px; overflow: hidden;width:960px;}
.indexRow h4 a             { margin-right: 12px; padding-right: 18px; background: url(iconMore.jpg) right center no-repeat;}
.indexRow h4 strong a      { margin-right: 0; padding-right: 0; background: none;}
.indexRow ul               { margin-left: 15px; margin-right: 15px;}
*html .indexRow ul               { margin-left: 0; margin-right: 0;}
*+html .indexRow ul               { margin-left: 0; margin-right: 0;}

/*.showPicList ul { height: 312px;} *//*for dev*/
/*.showTxtList ul { height: 330px;} *//*for dev*/

/* showPicList */
.showPicList     		   { float: left; width: 302px; padding: 0 0 3px 0; *padding: 0 0 6px 0; }
.showPicList li            { width:auto; height: 94px; margin: 15px 0 0 0; *margin: 12px 0 0 0; }
.showPicList img           { float: left; }
.showPicList p             { width: 180px; _width: 185px; height: 77px; margin: 0 0 0 5px; float: left; font-size: 12px; }
.showPicList p strong      { display: block; width: 100%; font-size: 14px; height: 40px; overflow: hidden; line-height: 20px; font-weight: bold; overflow: hidden; }
.showPicList p span        { display: block; width: 100%; height: 40px; line-height: 20px; overflow: hidden; margin: 5px 0 0 0; }
.showPicList p strong a:hover,
.showPicList p span a:hover { text-decoration: none; }

/* showTxtList */
.showTxtList       		{ float: left; width: 340px; padding: 0 0 0 0;  *padding: 0 0 5px 0; _padding: 0; margin: 0 8px;}
.showTxtList li    		{ width: 100%; height: 33px;_width:310px;*width:310px; *height: 28px; _height: 25px; line-height: 30px; *line-height: 30px; font-size: 14px; }
.showTxtList li span    { width: 240px; float: left; overflow: hidden; display: block; height: 33px; *height: 30px;}
.showTxtList li cite    { font-style: normal; float: right; width: 50px; text-align: right; display: block; }

/* focus commend */
.techFocus	         { width: 100%; height: 316px; }
.techFocus .ad    	 { float: left;  width: 450px; height: 300px; margin: 7px 0 0 8px;  }
.techFocus .commend  { float: right; width: 455px; height: 300px; margin: 7px 17px 0 0;_margin: 7px 0 0 5px; }
.techFocus dt        { border-bottom: #e1e1e1 1px dotted;  }
.techFocus dt strong { display: block; width: 100%; height: 40px; line-height: 40px; overflow: hidden; text-align: center; font-size: 16px; font-weight: bold; }
.techFocus dt strong a:link,.techFocus dt strong a:visited { color: #F36C4F; }
.techFocus dt p   { width: 100%; height: 40px; line-height: 20px; overflow: hidden; margin: 0 0 10px 0; font-size: 12px;}
.techFocus dd        { margin: 4px 0 5px 0; float: left; line-height: 20px; font-size: 12px;}
.techFocus dd span   { display: block; float: left; width: 395px; height: 20px; overflow: hidden; }
.techFocus dd cite   { display: block; float: right; width: 55px; height: 20px; overflow: hidden; }
.techFocus h4        { background: none;}

/* Play Skills */
/*.techPlaySkills     	  { float: left; width: 647px; height: 372px; }*/
/*.techPlaySkills dl        { width: 290px; height: 285px; float: left;  margin: 30px 0 0 15px; padding: 0 20px 0 0; border-right: #e1e1e1 1px dotted; }*/
/*.techPlaySkills dt        { border-bottom: #e1e1e1 1px dotted; width: 100%; padding: 0 0 20px 0; line-height: 15px; margin: 0 0 5px 0; }*/
/*.techPlaySkills dt strong { width: 100%; height: 45px; line-height: 20px; overflow: hidden; text-align: center; margin: 0 0 15px 0; }*/
/*.techPlaySkills dt span   { width: 100%; height: 57px; overflow: hidden; }*/
/*.techPlaySkills dd        { margin: 8px 0 0 0; float: left; }*/
/*.techPlaySkills dd span   { display: block; width: 220px; height: 20px; overflow: hidden; float: left; }*/
/*.techPlaySkills dd cite   { display: block; width: 55px; height: 20px; float: left; margin: 0 0 0 12px;}*/

/*.techPlaySkills ul        { width: 285px; _width: 275px; height: 285px; float: right; padding: 12px 15px 0 10px;  }*/
/*.techPlaySkills li        { width: 100%; height: 61px; margin: 12px 0 39px 0; _margin: 20px 0 15px 0; }*/
/*.techPlaySkills li strong { font-size: 14px; height: 20px; line-height: 20px; overflow: hidden; width: 100%; display: block; margin: 0 0 10px 0; }*/
/*.techPlaySkills li span   { display: block; width: 100%; height: 55px; overflow: hidden; } */
/*.techPlaySkills li span a:link,  .techPlaySkills li span a:visited { color: #F56B4F; }*/
/*.techPlaySkills li span a:hover { text-decoration: underline; }*/


/* tech Focus Skills */
.techFocusSkills 	     	  { float: right; width: 302px; height: 195px; }
.techFocusSkills .tab         { float: right; margin-right: 20px; font-size: 12px; cursor: pointer;}
.techFocusSkills .tab .fb     { color: #ff6600; font-weight: bold;}
.techFocusSkills .hidden      { display: none;}
/*.techFocusSkills h5 cite      { height: 37px; line-height: 37px; display: block; _margin: 0px; }*/
/*.techFocusSkills h5 cite a:link, .techFocusSkills h5 cite a:visited { margin: 0 3px 0 3px; }*/
/*.techFocusSkills h5 cite .sel { color: #F56B4F; }*/
.techFocusSkills ul   { background: url(top5bg.jpg) no-repeat left; width: 292px; height: 122px; text-indent: 20px; padding-left:10px; margin-top:15px; }
*html .techFocusSkills ul   { background: url(top5bg.jpg) no-repeat 15px 7px; width: 260px; height: 122px; text-indent: 20px; padding-left:10px; margin-top:10px; }
*+html .techFocusSkills ul   { background: url(top5bg.jpg) no-repeat 15px 7px; width: 260px; height: 122px; text-indent: 20px; padding-left:10px; margin-top:10px; }
.techFocusSkills li   { width: 100%; height: 18px; line-height: 17px; margin: 0 0 8px 0; _margin: 6px 0 8px 0; overflow: hidden; }

/* tech bbs */
.techBBS     { float: right; width: 302px; height: 163px; margin: 10px 0 0 0; overflow: hidden;}
/*.techBBS h5  { width: 297px; border: none; text-indent: 20px; height: 40px; line-height: 40px; border-top: #e1e1e1 3px solid; border-left: #e1e1e1 1px solid; border-right: #e1e1e1 1px solid; }*/
.techBBS ul  { float: left; width: 304px; margin: 0;}
.techBBS li  { border-right: #efefef 1px solid; border-bottom: #efefef 1px solid; width: 151px; height: 40px; float: left; line-height: 40px; text-indent: 40px;  }
.techBBS a:link, .techBBS a:visited { display: block;  }
.techBBS a:hover  { background: #F26C4F; color: #ffffff !important; text-decoration: none; display: block;  }

/* tech Tutorial */
/*.techTutorial   			{ float: left; width: 648px; height: 627px; border-right: none; }*/
/*.techTutorial .showList     { float: left; width: 323px; height: 626px; border-right: #e1e1e1 1px solid;}*/
/*.techTutorial li            { width: 100%; height: 80px; margin: 30px 0 0 15px; }*/
/*.techTutorial img           { float: left: }*/
/*.techTutorial p             { width: 190px; height: 77px; margin: 0 0 0 10px; float: left;  }*/
/*.techTutorial p strong      { display: block; width: 190px; font-size: 14px; height: 40px; line-height: 19px; overflow: hidden; }*/
/*.techTutorial p span        { display: block; width: 190px; height: 40px; line-height: 20px; overflow: hidden; margin: 3px 0 0 0; }*/
/*.techTutorial p span a:link, .techTutorial p span a:visited { color: #F26C4F; }*/
/*.techTutorial p span a:hover { text-decoration: underline; }*/

/* tech rom */
/*.techRom 	 	{ float: right; width: 297px; height: 325px; }*/
/*.techRom li     { width: 100%; height: 104px; margin: 15px 0 35px 0; }*/
/*.techRom li img { float: left; }*/
/*.techRom p      { float: right; width: 140px; font-size: 14px;}*/
/*.techRom p span { width: 100%; height: 20px; line-height: 20px; overflow: hidden; display: block; margin: 2px 0 2px 0; }*/
/*.techRom p cite { width: 100%; height: 20px; line-height: 20px; display: block; margin: 10px 0 0 0; }*/
/*.techRom p a:link,*/
/*.techRom p a:visited  { width: 60px; height: 30px; display: block; background: #54749A; text-align: center; line-height: 30px; float: left; color: #ffffff; margin: 0 10px 0 0; border-radius: 5px; }*/
/*.techRom p a:hover    { background: #f26c4f; transition: background 0.5s ease-in; }*/


/* tech Freshman */
/*.techFreshman    	{ width: 298px; height: 288px; _height: 274px; margin: 10px 0 0 0; float: right; }*/
/*.techFreshman li 	{ width: 134px; height: 100px; float: left; margin: 15px 0 0 0; _margin: 10px 0 0 0; }*/
/*.techFreshman span  { width: 120px; height: 30px; line-height: 30px; display: block; text-align: center; }*/

/* tech System */
/*.techSystem        { width: 648px; height: 730px; float: left; }*/
/*.techSystem h5,*/
/*.techSystem ul     	 { width: 95%; }*/
/*.techSystem li     	 { width: 100%; height: 100px; padding: 0 0 15px 0; border-bottom: #e1e1e1 1px dotted; margin: 20px 0 0 0;} */
/*.techSystem li img	 { float: left; }*/
/*.techSystem p        { width: 480px; height: 100px; float: right; }*/
/*.techSystem p strong { font-size: 14px; display: block; height: 20px; line-height: 20px; }*/
/*.techSystem p span   { display: block; height: 35px; line-height: 18px; margin: 8px 0 8px 0;}*/
/*.techSystem p cite   { display: block; }*/

/* tech daren */
.techDaren    	   	{ float: right; width: 302px; padding: 0;}
.techDaren li	   	{ width:auto; height: 80px;  margin: 20px 0; *margin: 14px 0 0 0; }
.techDaren li img  	{ float: left; }
.techDaren p       	{ float: right; width: 170px; height: 80px; font-size: 12px;*margin-right:10px;}
.techDaren p strong { display: block; float: left; font-size: 14px; font-weight: bold; }
.techDaren p cite   { float: right; }
.techDaren p span   { display: block; width: 100%; height: 60px; overflow: hidden; line-height: 20px; }
.techDaren p cite a:link,
.techDaren p cite a:visited { width: 50px; height: 20px; background: #FE821E; display: block; color: #ffffff; text-decoration: none; text-align: center; line-height: 20px; font-weight: 700; }
.techDaren p cite a:hover   { color: #fff !important;}

/* tech creative */
/*.techCreative    	{ width: 298px; height: 343px; float: right; margin: 10px 0 0 0; }*/
/*.techCreative li 	{ float: left;  widht: 80px; height: 80px; margin: 10px 3px 0 3px; }*/

/* tech knowledge */
/*.techKnowledge     { width: 648px; height: 329px; float: left; }*/
/*.techKnowledge h5, .techKnowledge ul { width: 95%; }*/
/*.techKnowledge ul  { height: 285px;  }*/
/*.techKnowledge li  { float: left;  margin: 16px 5px 0 0; width: 50px; }*/
/*.techKnowledge a:link, .techKnowledge a:visited  { margin: 0 5px 0 0; }*/

/* tech activities */
.techActivities   	  	 { width: 302px; height: 372px; *height: 367px; _height: 372px; float: right;}
.techActivities cite     { float: right; margin: -40px 10px 0 0;*margin: -30px 10px 0 0;}
.techActivities cite a:link,
.techActivities cite a:visited { width: 90px; height: 30px; padding: 0; background: #FE821E; color: #ffffff; text-align: center; line-height: 30px; display: block; margin: 5px 0 0 0; _margin: -5px 0 0 0; }
.techActivities cite a:hover   { color: #fff !important;}
.techActivities li    	 { width:auto; height: 145px; margin: 20px 0 0 0; }
.techActivities li img   { margin: 0 0 10px 0; display: block;}
.techActivities li span  { display: block; font-size: 14px; text-align: center; width: 100%; height: 35px; line-height: 35px; overflow: hidden; clear: both; }

/* tech Update */
/*.techUpdate   		 { width: 958px; height: 247px; }*/
/*.techUpdate h3  	 { text-align: center; font-size: 14px; border-bottom: #e1e1e1 1px dotted; width: 95%; height: 45px; line-height: 45px; color: #666666; margin: 0 auto; }*/
/*.techUpdate ul  	 { width: 920px; height: 150px; float: left;  margin: 30px 0 0 18px; _margin: 30px 0 0 12px; }*/
/*.techUpdate li 		 { margin: 0 0 0 20px; width: 310px; _width: 300px; height: 25px; line-height: 25px; padding: 0 100px 0 20px; float: left; border-right: #e1e1e1 1px dotted; overflow: hidden; }*/
/*.techUpdate .odd     { border: none; }*/


/* other */
.news li:first-child {padding-top: 0;background: none;}


