<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<link href="$_G['style']['styleimgdir']/css/tt_portal.css" rel="stylesheet" type="text/css" />
<link href="$_G['style']['styleimgdir']/css/tt_xueyuan.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$_G['style']['styleimgdir']/js/jquery.min.js"></script>
<script type="text/javascript" src="$_G['style']['styleimgdir']/js/jquery.sgallery.js"></script>
<script>jQuery.noConflict();</script>
<script type="text/javascript" src="$_G['style']['styleimgdir']/js/comm.js"></script>

<div class="main">
    <div class="indexRow">
    	<!-- 广告1预留位置 -->
    	<div class="indexBanner"><!--[diy=tt_xy_ad1]--><div id="tt_xy_ad1" class="area"></div><!--[/diy]--></div>
		<div class="techFocus box">
    	<!-- 焦点推荐幻灯 -->
			<div class="ad" id="">
				<div class="FocusPic">			
					<!--[diy=tt_xy_jdtjhd]--><div id="tt_xy_jdtjhd" class="area"></div><!--[/diy]-->
				</div>
			</div>
        <!-- 焦点推荐文字-->
			<div class="commend">
				<h4><strong>焦点推荐</strong><a class="r" href="forum.php" target="_blank">访问论坛</a></h4>
					<dl><!--[diy=tt_xy_jdtjwz]--><div id="tt_xy_jdtjwz" class="area"></div><!--[/diy]--></dl>
			</div>
		</div>
        <!-- 广告2预留位置 -->
    	<div class="indexBanner"><!--[diy=tt_xy_ad2]--><div id="tt_xy_ad2" class="area"></div><!--[/diy]--></div>
	</div>
    <div class="indexRow">
        <!-- 个性美化 -->
		<div class="showPicList box">
			<h4><strong><a href="#">个性美化</a></strong><a class="r" href="#">更多</a></h4>
			<ul>
            	<!--[diy=tt_xy_gxmh]--><div id="tt_xy_gxmh" class="area"></div><!--[/diy]-->
			</ul>
        </div>
        <!-- 基础通讯 -->
        <div class="showTxtList box">
            <h4><strong><a href="#">基础通讯</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
				<!--[diy=tt_xy_jctx]--><div id="tt_xy_jctx" class="area"></div><!--[/diy]-->          
			</ul>
        </div>

	<!--论坛版块推荐-->
	<div class="hot box"> 	
		<h4><strong class="tab SwapTab"><span class="fb">版块推荐</span><span class="">百宝箱</span></strong></h4>
		<div class="tab-content">
			<ul style="display: block; width: 302px;margin-left: 0px;overflow: hidden;">
				<!--[diy=tt_portal_bktj]--><div id="tt_portal_bktj" class="area"></div><!--[/diy]-->
				<li class="more"><a href="forum.php" onclick="_gaq.push(['_trackEvent', '版块入口', '全部版块']);">查看全部论坛版块&gt;&gt;</a></li>
			</ul>
			<ul style="display: none; width: 302px;margin-left: 0px;overflow: hidden;">
				<!--[diy=tt_portal_bbx]--><div id="tt_portal_bbx" class="area"></div><!--[/diy]-->
			</ul>
		</div>
    </div>
    
    </div>
    <div class="indexRow">
        <!-- 多媒体应用 -->
        <div class="showPicList box">
            <h4><strong><a href="#">多媒体应用</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
				<!--[diy=tt_xy_dmtyy]--><div id="tt_xy_dmtyy" class="area"></div><!--[/diy]-->
			</ul>
        </div>
        <!-- 网络连接 -->
        <div class="showTxtList box">
			<h4><strong><a href="#">网络连接</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
				<!--[diy=tt_xy_wllj]--><div id="tt_xy_wllj" class="area"></div><!--[/diy]-->
			</ul>
        </div>
        <!-- 隐私安全 -->
        <div class="showPicList box">
            <h4><strong><a href="#">隐私安全</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
            	<!--[diy=tt_xy_ysaq]--><div id="tt_xy_ysaq" class="area"></div><!--[/diy]-->
			</ul>
        </div>
    </div>
    <div class="indexRow">
        <!-- 系统操作 -->
        <div class="showPicList box">
            <h4><strong><a href="#">系统操作</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
				<!--[diy=tt_xy_xtcz]--><div id="tt_xy_xtcz" class="area"></div><!--[/diy]-->
			</ul>
        </div>
        <!-- 性能优化 -->
        <div class="showTxtList box">
			<h4><strong><a href="#">性能优化</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
				<!--[diy=tt_xy_xnyh]--><div id="tt_xy_xnyh" class="area"></div><!--[/diy]-->
			</ul>
        </div>
        <!-- 硬件周边 -->
        <div class="showPicList box">
            <h4><strong><a href="#">硬件周边</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
         		<!--[diy=tt_xy_yjzb]--><div id="tt_xy_yjzb" class="area"></div><!--[/diy]-->
			</ul>
        </div>
    </div>
    <div class="indexRow">
        <!-- 自制达人 -->
        <div class="showPicList box">
            <h4><strong><a href="#">自制达人</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
				<!--[diy=tt_xy_zzdr]--><div id="tt_xy_zzdr" class="area"></div><!--[/diy]--> 
			</ul>
        </div>
        <!-- 省电技巧 -->
        <div class="showTxtList box">
            <h4><strong><a href="#">省电技巧</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
				<!--[diy=tt_xy_sdjq]--><div id="tt_xy_sdjq" class="area"></div><!--[/diy]--> 
			</ul>
        </div>
        <!-- 玩机达人 -->
        <div class="techDaren box">
            <h4><strong>玩机达人</strong></h4>
            <ul>
            	<!--[diy=tt_xy_wjdr]--><div id="tt_xy_wjdr" class="area"></div><!--[/diy]--> 
			</ul>
        </div>
    </div>
    <div class="indexRow">
        <!-- 晒机乐园 -->
        <div class="showPicList box">
            <h4><strong><a href="#">晒机乐园</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
				<!--[diy=tt_xy_sjly]--><div id="tt_xy_sjly" class="area"></div><!--[/diy]-->
			</ul>
        </div>
        <!-- 玩机心得 -->
        <div class="showTxtList box">
            <h4><strong><a href="#">玩机心得</a></strong><a class="r" href="#">更多</a></h4>
            <ul>
				<!--[diy=tt_xy_wjxd]--><div id="tt_xy_wjxd" class="area"></div><!--[/diy]-->
			</ul>
        </div>
        <!-- 专题推荐 -->
        <div class="techActivities box">
            <h4><strong>专题推荐</strong><cite><a href="#" target="_blank">刷机教程</a></cite></h4>
            <ul>
            	<!--[diy=tt_xy_zttj]--><div id="tt_xy_zttj" class="area"></div><!--[/diy]-->
			</ul>
        </div>
    </div>
</div>

<script type="text/javascript"> 
    jQuery(function(){
        new slide("#college-pic","cur",480,300,1);//焦点图
        new SwapTab(".SwapTab","span",".tab-content","ul","fb");//排行TAB
    })
</script>


<!--{template common/footer}-->

