<div id='flymeFooter' class='footerWrap'>
	<div class='footerInner'>
		<div class='footer-layer1'>
			<div class='footer-innerLink'><a href="http://www.meizu.com/about.html" target="_blank" title="关于魅族">关于魅族</a><img class="foot-line" src="https://https-res.meizu.com/resources/common/images/default/space.gif"><a href="http://hr.meizu.com" target="_blank" title="工作机会">工作机会</a><img class="foot-line" src="https://https-res.meizu.com/resources/common/images/default/space.gif"><a href="http://www.meizu.com/contact.html" target="_blank" title="联系我们">联系我们</a><img class="foot-line" src="https://https-res.meizu.com/resources/common/images/default/space.gif"><a href="http://www.meizu.com/legalStatement.html" target="_blank" title="法律声明">法律声明</a></div>
			<div class='footer-service'>
				<span class='service-label'>客服热线</span>
				<span class='service-num'>400-788-3333</span>
				<a id='service-online' class='service-online' href="javascript:void(0);" title="在线客服">在线客服</a>
			</div>
			<div class='footer-outerLink'>
				<a class='footer-sinaMblog' href="http://weibo.com/meizuflyme" target="_blank"><i class='i_icon'></i></a>
				<a class='footer-tencentMblog' href="http://t.qq.com/mx_flyme" target="_blank"><i class='i_icon'></i></a>
				<a id='footer-weChat' class='footer-weChat' href="javascript:void(0);" target="_blank"><i class='i_icon'></i></a>
				<a class='footer-qzone' style="display:none;" href="http://user.qzone.qq.com/2762957059" target="_blank"><i class='i_icon'></i></a>
			</div>
		</div>
		<div class='clear'></div>
		<div id='flymeCopyright' class="copyrightWrap">
			<div class="copyrightInner">
				<span>©2014 Meizu Telecom Equipment Co., Ltd. All rights reserved.</span>
				<a href="http://www.miitbeian.gov.cn/" target="_blank">备案号：粤ICP备13003602号-4</a> 
				<a target="_blank" href="http://www2.res.meizu.com/zh_cn/images/common/icp2.jpg" hidefocus="true">经营许可证编号：粤B2-20130198</a>
				<a target="_blank" href="http://www2.res.meizu.com/zh_cn/images/common/com_licence.jpg" hidefocus="true">营业执照</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=37725139" charset="UTF-8"></script>