<!--{template common/header}-->
<link rel="stylesheet" href="{STATICURL}meizu/style_extends.css" type="text/css" media="all">
<div class="buglist_title">
    <a href="forum-{$_G[fid]}-1.html">建议反馈</a>
</div>
<div class="buglist_nav">
    <div class="buglist_nav_module">
        <span style="cursor: pointer" onclick="window.location.href='forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid{if $_GET[orderby]==support}&orderby=$_GET[orderby]{/if}{if $_GET[feedback_status]}&feedback_status=$_GET[feedback_status]{/if}'"> 模块</span>
        <!--{loop $firstcategory $info}-->
        <a id="buglist_nav_module_{$info['id']}"  href="<!--{if $info['haschild']=='1'}-->javascript:;<!--{else}-->forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid&typeid={$info['id']}{if $_GET[orderby]==support}&orderby=$_GET['orderby']{/if}{if $_GET['feedback_status']}&feedback_status=$_GET['feedback_status']{/if}<!--{/if}-->" class="<!--{if $info['haschild']=='1'}-->showmenu<!--{/if}--> xi2 {if $_GET['typeid']==$info['id']}active{/if}" onmouseover="showMenu(this.id);">{$info[name]}</a>
        <!--{/loop}-->
    </div>

</div>

<!--{loop $subcategory $key $info}-->
<div id="buglist_nav_module_{$key}_menu" parentid="buglist_nav_module_{$key}" class="p_pop4bugList" style="display:none">
    <ul>
        <!--{loop $info  $v}-->
        <li><a class="{if $_GET['typeid']==$v['id']}active {/if}typeidlist_menu"  href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid&typeid={$v['id']}{if $_GET[orderby]==support}&orderby=$_GET['orderby']{/if}{if $_GET['feedback_status']}&feedback_status=$_GET['feedback_status']{/if}">{$v[name]}</a></li>
        <!--{/loop}-->
    </ul>
</div>
<!--{/loop}-->
        <script type="text/javascript">
            ;(function($){
               var obj = $(".p_pop4bugList").find(".active"),
                menu=null;
                if(obj.length>0){
                   menu = $(obj).closest(".p_pop4bugList");
                }
                if(menu!=null){
                    $("#"+menu.attr("parentid")).addClass("active");
                }

            })(jQuery);
        </script>

<!-- /对应弹出面板 -->
<div class="buglist_classify">
	<!--{if $_G['is_mobile_browser']}-->
    <style>.buglist_classify_nav a p{font-size: 14px}</style>
    <!--{/if}-->
    <ul class="buglist_classify_nav">
        <li <!--{if $feedback_status==10}--> class="active"<!--{/if}-->>
        <a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid{if $_GET['typeid']}&typeid=$_GET['typeid']{/if}&feedback_status=10">
            <i class="i_icon suggestlist_classify_new"></i>
            <p>最新提交</p>
        </a>
        </li>
        <li <!--{if $feedback_status==60}--> class="active"<!--{/if}-->>
        <a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid{if $_GET['typeid']}&typeid=$_GET['typeid']{/if}&feedback_status=60">
            <i class="i_icon buglist_classify_pending"></i>
            <p>待处理</p>
        </a>
        </li>
        <li <!--{if $feedback_status==20}--> class="active"<!--{/if}-->>
        <a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid{if $_GET['typeid']}&typeid=$_GET['typeid']{/if}&feedback_status=20">
            <i class="i_icon suggestlist_classify_accept"></i>
            <p>采纳建议</p>
        </a>
        </li>
        <li <!--{if $feedback_status==30}--> class="active"<!--{/if}-->>
        <a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid{if $_GET['typeid']}&typeid=$_GET['typeid']{/if}&feedback_status=30">
            <i class="i_icon suggestlist_classify_assess"></i>
            <p>评估中</p>
        </a>
        </li>
        <li <!--{if $feedback_status==40}--> class="active"<!--{/if}-->>
        <a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid{if $_GET['typeid']}&typeid=$_GET['typeid']{/if}&feedback_status=40">
            <i class="i_icon suggestlist_classify_unconsider"></i>
            <p>暂不考虑</p>
        </a>
        </li>
        <li <!--{if $feedback_status==50}--> class="active"<!--{/if}-->>
            <a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid{if $_GET['typeid']}&typeid=$_GET['typeid']{/if}&feedback_status=50">
                <i class="i_icon suggestlist_classify_compleled"></i>
                <p>已实现</p>
            </a>
        </li>
    </ul>
    <div class="buglist_btns">
        <a href="forum.php?mod=post&action=newthread&fid=<!--{echo FEEDBACK_BUG_FID}-->" class="suggest_fb">BUG反馈</a>
        <a href="forum.php?mod=post&action=newthread&fid=<!--{echo FEEDBACK_PROPOSAL_FID}-->" class="bug_fb">建议反馈</a>

    </div>
</div>

<table cellpadding="0" cellspacing="0" class="postlist_table">
    <thead>
    <tr><th class="handle_status">处理状态</th><th class="feedback_title">建议反馈</th><th class="attention_rate"><a <!--{if $_GET[orderby]=="support"}-->class="active"<!--{/if}--> href="forum.php?mod=forumdisplay&filter=typeid&fid=$_G[fid]&orderby=support{if $_GET['typeid']}&typeid=$_GET['typeid']{/if}{if $_GET['feedback_status']}&feedback_status=$_GET['feedback_status']{/if}">赞同次数/关注度</a></th><th class="author">提交人</th><th class="post_time"> 提交时间</th></tr>
    </thead>
    <tbody>
    <!--{if $_G['forum_threadcount']}-->
    <!--{if empty($_G['forum']['picstyle']) || $_G['cookie']['forumdefstyle']}-->
    <!--{loop $_G['forum_threadlist'] $key $thread}-->
    <!--{if $separatepos <= $key + 1}-->
    <!--{ad/threadlist}-->
    <!--{/if}-->
    <!--{if $separatepos == $key +2}-->
    <tr class="border-bottom">
        <!--{else}-->
    <tr>
        <!--{/if}-->
        <td class="handle_status
                        <!--{if $thread['displayorder']>0}
                        <!--{elseif $thread['feedback_status']==60}-->font_blue
                            <!--{elseif $thread['feedback_status']==20}-->font_orange
                            <!--{elseif $thread['feedback_status']==30}-->font_blue
                            <!--{elseif $thread['feedback_status']==40}-->font_yellow
                            <!--{elseif $thread['feedback_status']==50}-->font_green
                            <!--{/if}-->">
            <!--{if $thread['displayorder']>0}-->置顶
            <!--{elseif $thread['feedback_status']==60}-->待处理
            <!--{elseif $thread['feedback_status']==20}-->采纳建议
            <!--{elseif $thread['feedback_status']==30}-->评估中
            <!--{elseif $thread['feedback_status']==40}-->暂不考虑
            <!--{elseif $thread['feedback_status']==50}-->已实现
            <!--{/if}-->
        </td><td class="feedback_title "><a href="forum.php?mod=viewthread&tid=$thread[icontid]&{if $_GET['archiveid']}archiveid={$_GET['archiveid']}&{/if}extra=$extra"$thread[highlight]>{$thread[subject]}</a></td><td class="attention_rate">{$thread[support]}/{$thread[views]}</td><td class="author" title="{$thread[author]}"><a href="home.php?mod=space&uid={$thread[authorid]}" target="_blank"> <!--{eval echo cutstr($thread['author'],15)}--></a></td><td class="post_time">{$thread[dateline]}</td>
    </tr>
    <!--{/loop}-->
    <!--{/if}-->
    <!--{/if}-->
</table>
<span id="fd_page_bottom" style="float: right">$multipage</span>
<!--{if empty($_G['setting']['disfixednv_forumdisplay']) }--><script>fixed_top_nv();</script><!--{/if}-->
<!--{template common/footer}-->