
<a target="_blank" style="display:block;width:250px;height:100px;margin-top:20px;background:url({IMGDIR}/ad2.png) no-repeat scroll 0 0;text-indent:-9999em;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;outline:none;" href="#" title="点点社区"></a>


<a style="display:block;margin-top:20px; text-indent:-9999em;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;outline:none;" ></a>

<a target="_blank" style="display:block;width:250px;height:100px;margin-top:20px;background:url({IMGDIR}/ad1.png) no-repeat scroll 0 0;text-indent:-9999em;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;outline:none;" href="#" title="点点社区"></a>




