
<div >
<div class="feed">
<div class="feed-avatar">
<a href="home.php?mod=space&uid=$_G[uid]"  ><img src="{avatar($_G[uid],middle, true, false, true)}?$_G[timestamp]" onerror="this.onerror=null;this.src='{IMGDIR}/avatar.gif'" width="64" height="65" /></a>
<span >+点点社区</span>
</div>

<div class="feed-content-holder pop"><div class="v2-boxtrz"></div>
<div class="pop-triangle"></div>
<div class="pop-content"><div class="hm">
<div class="feed-ct">
<div class="feed-txt-full">

<div>
<div class="module cl slidebox">
<ul class="slideshow">
<li style="width: 533px; height: 79px;float:left;padding-left:3px;padding-top:2px;">
<a href="#" target="_blank"><img src="{IMGDIR}/fa.gif" width="533" height="77" /></a></li>
<li style="width: 533px; height: 79px;float:left;padding-left:3px;padding-top:2px ;">
<a href="#" target="_blank"><img src="{IMGDIR}/fa2.gif" width="533" height="77" /></a></li>
<li style="width: 533px; height: 79px;float:left;padding-left:3px;padding-top:2px ;">
<a href="#" target="_blank"><img src="{IMGDIR}/fa3.gif" width="533" height="77" /></a></li>
<li style="width: 533px; height: 79px;float:left;padding-left:3px;padding-top:2px;">
<a href="#" target="_blank"><img src="{IMGDIR}/fa4.gif" width="533" height="77" /></a></li>
</ul>
</div>
<script type="text/javascript">
runslideshow();
</script></div>

</div>
</div>
</div>
</div></div>
</div></div><div class="feed-content-holderz">
<div class="v2-boxbrjz"></div></div>
<hr size="15" color="#DBDFE2">


